<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible"
	content = "IE-10; IE-11; IE-edge">
	<meta name="viewpoint" content="width=device-width, intial-scale =1">
	<meta name="description" content="Front End Developer portfolio website.">
	<meta name="author" content="Alf Fenton">
	<title>Alf Fenton | Web Developer portfolio website</title>
	<link rel="stylesheet" type="text/css" href="">
	<!-- place icon here-->
</head>

<body id ="body-index">
	<!--Navigation-->
	<nav class="nav">
	<a href="#header" class="nav_logo_link"><img class ="logo" src="" alt ="logo"></a>
	<span class="hamburger_name">menu</span>
	<svg width="35px" height="35px" class="nav_hamburger" style="visibility: visible;">
		<path d="M 5 5 L 33 5" class="hamburger"></path>
		<path d="M 5 15 L 33 15" class="hamburger"></path>
		<path d="M 5 25 L 33 25" class ="hamburger"></path>
	</svg>
</nav>

<div class="nav-menu">
	<div class="nav-menu__cross">
		<svg width= 43px" height="35px">
			<path d = "M 5 5 L 30 29" class="nav-menu__cross-line"></path>
			<path d = "M 5 29 L 30 5" class="nav-menu__cross-line"></path>
		</svg>
	</div>

	<ul class ="nav-menu__list">
		<li class="nav-menu__list-item">
			<a href="#header" class="nav-menu_link">Home</a>
		</li>
		<li class="nav-menu__list-item">
			<a href="#about" class="nav-menu_link">About</a>
		</li>
		<li class="nav-menu__list-item">
			<a href="#portfolio" class="nav-menu_link">Portfolio</a>
		</li>
		<li class="nav-menu__list-item">
			<a href="#contact" class="nav-menu_link">Contact</a>
		</li>
	</ul>

	<hr class="nav-menu__separator">
	<p class="nav-menu__text"></p>
	<p class="nav-menu__email"<a href="mailto: fentonalf@gmail.com" class="nav-menu__link--email">fentonalf@gmail.com
	</p>
	<div class="-menu__social-btn">
		<a href="" target="_blank"><span class=""></span></a>
		<a href="" target="_blank"><span class=""></span></a>
		<a href="" target="_blank"><span class=""></span></a>
	</div>
</div>
<!--HEader-->

<header id="header" class="header">
	<h1 class="header__title"></h1>
	<h3 class="header__subtitle"></h3>
	<a href="#portfolio" class="header__btn">View Portfolio</a>
</header>

<!--Main information-->
<main class="main-container">
	<!--About-->
	<section id="about" class="about">
	<<div class="about__info__container">
		<div class="about__text">
			<!-- <img  src="images/dina_large.jpg"
                srcset="images/dina_small.jpg 800w,
                        images/dina_medium.jpg 1100w,
                        images/dina_large.jpg 1400w"
                sizes="100vw"
                class="about__img__mobile"
                alt="autor portrait"/>-->
         <p class="about__text__descrpition"></p>
         <p class="about__text__descrpition"></p>
         <a href="about-me.html" class="about__btn"></a>
       </div>
       <div class="about__img__container">
       	<!--<img  src="images/dina_large.jpg"
                srcset="images/dina_small.jpg 800w,
                        images/dina_medium.jpg 1100w,
                        images/dina_large.jpg 1400w"
                sizes="100vw"
                class="about__img"
                alt="autor portrait"/>-->
         </div>
     </div>

     </section>
     	<!-- List of Portfolios-->
     	<!--Portfolio one -->
     	<section id="portfolio" class="portfolio">
     		<h1 class="portfolio__title">Portfolio<span class="portfolio__title__dot"></span></h1>
     		<h3 class="portfolio__descritption"></h3>
     		<div class="portfolio__nav__container">
     			<button class="portfolio__nav__btn" data-btn-name="all-btn"></button>
     			<button class="portfolio__nav__btn" data-btn-name="websites-btn"></button>
     			<button class="portfolio__nav__btn" data-btn-name="illustrations-btn"></button>
     			<button class="portfolio__nav__btn" data-btn-name="apps-btn"></button>
     			</div>
     			<div class="portfolio__items-container">
     				<div class="portfolio__item" data-name="website">
     					<a href="image-hover-effects.html">
     						<img src="" class="portfolio__item__thumbnail" alt="iamge hover image hover effects">
     						<h2 class="portfolio__item__info"></h2>
     						<div class="portfolio__item__hover">
     							<h2 class="portfolio__item__hover__title">Websites<span class="portfolio__title__dot title__dot--white"></span></h2>
     							<p class="portfolio__item__hover__description">Collestion of image gallery blah blah</p>
     						</div>
     					</a>
     				</div>
     			</div>>

     	</section>

     	<section id="contact" class="contact">
     		<div class="contact_envelope">
     			<h1 class="contact__title title--white">Contact me<span class="contact__title__dot title__dot--white"></span></h1>
     			<h2 class="contact__description">You can reach me through email and on my social networs.<br></h2>
     			<a class="contact__link" href="mailto:fentonalf@gmail.com"> Fentonalf@gmail.com</a>
     			<div class="contact__socail-btn container">
     				<!-- <a href="https://twitter.com/TheMalni" target="_blank" class="contact__btn__link">
	            		<span class="fa fa-twitter fa-2x"></span>
	            		<div class="contact__social-btn"></div>
          			</a>-->
          		
          	</div>
          </div>
      </section>
      			<!--Footer-->
          		<footer class="footer">
          			<div class="footer__info__container">
          				<h2 class="footer__copyright">&copy; Alf Fenton 2018</h2>
          				<!--navigate through the footer-->
          				<ul class="footer-menu__list">
          					<li class="footer-menu__list-item">
          						<a href="#about" class="footer-menu__link">About</a>
          					</li>
          					<li class="footer-menu__list-item">
          						<a href="#portfolio" class="footer-menu__link">Portfolio</a>
          					</li>
          					<li class="footer-menu__list-item">
          						<a href="#contact" class="footer-menu__link">Contact</a>
          					</li>
          				</ul>

          				<!--footer social buttons-->
          			</div>
          		</footer>
          	</main>

          			

		


</body>
</html>